#mainwrapper {
    width: 900px;
    margin: 10px auto;
}

header, main {
    text-align: center;
}

#timer {
    margin-top: 20px;
}

table, td {
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bold;
}

table {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border-spacing: 5px;
}

td {
    width: 30px;
}